.cardLink {
  display: flex;
  width: fit-content;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  margin: 10px;
}

.cardLink:hover {
  background: rgba(255, 255, 255, 0.5);
}
